.menu__link {
    color: #ffffff;
    *margin-right: 1.5rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link.activo {
    color: #ffffff;
    font-weight: bold;
}

.menu__link:hover {
    *text-decoration: underline;
    background: yellow;
    *padding: 1rem 1.5rem;
    color: black;
    border-radius: 50px;
}
