.menu__item {
    color: #000000;
    display: none;
    position: relative;
    float: left;
    background: #ffda00;
    /* menu background color */
    border-radius: 50px;
}

.menu__item:last-child {
    display: block;
    margin-right: 1rem;
}