.menu__link {
    display: block;
    padding: 0 1rem;
    text-decoration: none;
    width: auto;
    /* this is the width of the menu items */
    line-height: 35px;
    /* this is the hieght of the menu items */
    color: inherit;
    /* list item font color */
    text-transform: uppercase;
}

.menu__item li {
    width: 100%;
}

.menu__item li a {
    font-size: 80%;
    text-align: left;
}