.galerias__titulo {
    color: #00f0fd;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: .5rem;
    text-transform: uppercase;
}

.galerias__contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.galerias__card {
    padding: 0 1rem 1.5rem 0;
    width: calc(50% - .5rem);
}

.galerias__card:nth-last-child(2n + 1) {
    padding-right: 0;
}

.galerias__card-image {
    padding-bottom: .5rem;
}

.galerias__card>a>img {
    width: 100%;
    max-width: 300px;
}

.contenido__descripcion {
    text-align: initial;
    padding-left: .2rem;
}

.contenido__descripcion a {
    color: #00f0fd;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

.galerias__boton {
    background-color: #000000;
    color: #ffda00;
    border: 1px solid #ffda00;
    border-radius: 25px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-right: auto;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.galerias__boton-fotos {
    color: #00f0fd;
    border: 1px solid #00f0fd;
}