.galerias__descargar {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    text-align: left;
}

.galerias__descargar a {
    color: #00f0fd;
    font-family: "Raleway";
    padding-bottom: .25rem;
    text-decoration: none;
}

.galerias__descargar a:last-child {
    padding-bottom: 0;
}