.galerias__info {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.galerias__titulo {
    color: #00f0fd;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.galerias__botones {
    display: inherit;
}

.galerias__botones a {
    margin-left: .5rem;
}