.galerias__contenido {
    display: flex;
    flex-wrap: wrap;
}

.galerias__card {
    padding: 0 1rem 1.5rem 0;
    width: calc(50% - .5rem);
}

.galerias__card:nth-last-child(2n + 1) {
    padding-right: 0;
}

.galerias__card-image {
    padding-bottom: .5rem;
}

.galerias__card a img {
    width: 100%;
    max-width: 300px;
}

.contenido__descripcion {
    text-align: initial;
    padding-left: .2rem;
}

.contenido__descripcion a {
    color: #00f0fd;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

.galerias__boton-fotos {
    color: #00f0fd;
    border: 1px solid #00f0fd;
}