.video__titulo {
    color: #ffda00;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
}